<template>
  <div>
    <p>
      This is an small space where pretend to describe a bit more of my self,
      there's a bit of context in a few points:
    </p>
    <br />
  </div>
  <div>
    <p>
      Basics:
    </p>
    <p>
      Real name: Daniel
    </p>
    <p>
      Web sites:
      <span style="margin-right: 10px">
        <a href="https://www.linkedin.com/in/daniel-g-545a08212">
          LinkedIn
        </a>
      </span>
      <span style="margin-right: 10px">
        <a href="http://github.com/netherlink117">
          Portfolio (GitHub)
        </a>
      </span>
      <span style="margin-right: 10px">
        <a href="http://twitch.tv/netherlink117">
          Twitch
        </a>
      </span>
    </p>
    <br />
    <p>Experience:</p>
    <p>
      Jan, 2019 - April, 2019 - Full stack web at Universidad Tecnológica de Tijuana.
    </p>
    <p>
      May, 2017 - August, 2017 - Full stack web at Radiologías y Tomografías de Baja California.
    </p>
    <br />
    <p>Education:</p>
    <p>
      August, 2019 - BE Computer and information sciences - General area at UTT.
    </p>
    <p>
      August, 2017 - AS Computer programming - System development area at UTT.
    </p>
    <br />
    <p>Interest:</p>
    <p>
      Family
    </p>
    <p>
      PC video games.
    </p>
    <p>
      Open source software.
    </p>
    <p>
      Software development.
    </p>
    <p>
      PC and master race hardware.
    </p>
    <p>
      Technology in general.
    </p>
    <br />
  </div>
  <div>
    <p>
      That's just a little of context, you can also check my
      <span>
        <router-link :to="{ name: 'Skills' }">skills</router-link>
      </span>
      to know more about me.
    </p>
    <br />
  </div>
  <p>
    &#36;
    <span class="cursor">▌</span>
  </p>
</template>
<script>
export default {
  name: "Context"
};
</script>
