<template>
  <div>
    <p>
      More than a group of projects, this is a bunch of my main repositories from gitlab and github
      with my projects' code, let's chek them out (maybe you need to scroll for
      more)...
    </p>
    <br />
  </div>
  <div>
    <table>
      <tbody>
        <tr>
          <td>.collections</td>
          <td>
            <p>Keywords: Bash, Docker, PHP, Vue, SASS</p>
            <br />
            <p>
              .collections is a set of docker containers built with docker-compose, each container runs a service, one for web scraping and other to present a web archive of the data scraped using the collections gallery project that I made. The repo is public at
              <span>
                <a href="https://github.com/netherlink117/.collections">this</a>
              </span>
              link.
            </p>
            <br />
          </td>
        </tr>
        <tr>
          <td>Vuitch</td>
          <td>
            <p>Keywords: Vue, Windiss</p>
            <br />
            <p>
              Vuitch is a basic client for twitch's chat an alerts built with Vue.js and Windicss. You can check the repository at
              <span>
                <a href="https://github.com/netherlink117/vuitch"
                  >this</a
                >
              </span>
              link.
            </p>
            <br />
          </td>
        </tr>
        <tr>
          <td>NRS</td>
          <td>
            <p>Keywords: Node, Express, Sequelize, SQLite, Vue, Windiss</p>
            <br />
            <p>
              NRS is a project to save notes and reminders and schelude some alerts to keep tracking some data that want to learn or remember. It is designed in an architecture of client-server. The repository for the server is at 
              <span>
                <a href="https://github.com/netherlink117/snrs"
                  >this</a
                >
              </span>
              link while the client is
              <span>
                <a href="https://github.com/netherlink117/cnrs"
                  >here</a
                >
              </span>
              .
            </p>
            <br />
          </td>
        </tr>
        <tr>
          <td>Vqtt</td>
          <td>
            <p>Keywords: Vue, MQTT</p>
            <br />
            <p>
              Vqtt is a plugin for the Vue.js to use the official MQTT.js within Vue instances and components. You can check the repository at
              <span>
                <a href="https://github.com/netherlink117/vqtt"
                  >this</a
                >
              </span>
              link.
            </p>
            <br />
          </td>
        </tr>
        <tr>
          <td>Qiq</td>
          <td>
            <p>Keywords: PHP, JavaScript, CSS, HTML</p>
            <br />
            <p>
              Qiq is a pseudogallery (web based) for serving folders in a quick
              way, because it's made in a single PHP file which serves the
              entire folder where it is placed. You can check the repository at
              <span>
                <a href="https://github.com/netherlink117/qiq">this</a>
              </span>
              link.
            </p>
            <br />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p>
      Those are some of the projects by now (the public ones), there are more but I don't want to inclcde them here just to keep short the list...
    </p>
    <br />
  </div>
  <p>
    &#36;
    <span class="cursor">▌</span>
  </p>
</template>
<script>
export default {
  name: "Projects"
};
</script>
