<template>
  <div>
    <p>
      I have use alot of technologies to work and code, but here I list my most
      used technologies by now...
    </p>
    <br />
  </div>
  <div>
    <p>Programming languages:</p>
    <p>JavaScript and TypeScript.</p>
    <p>PHP.</p>
    <p>CSS and SASS.</p>
    <br />
    <p>Frameworks:</p>
    <p>Laravel / Lumen.</p>
    <p>Express.js.</p>
    <p>Vue.js.</p>
    <p>Windicss</p>
    <p>C3.js.</p>
    <br />
    <p>Databases</p>
    <p>MariaDb (MySQL).</p>
    <p>SQLite.</p>
    <br />
    <p>Platforms:</p>
    <p>Windows.</p>
    <p>Linux.</p>
    <p>Docker containers.</p>
    <br />
  </div>
  <div>
    <p>
      Finally, if you haven't check my projects and want to, just click
      <span>
        <router-link :to="{ name: 'Projects' }">here</router-link>
      </span>
      .
    </p>
    <br />
  </div>
  <p>
    &#36;
    <span class="cursor">▌</span>
  </p>
</template>
<script>
export default {
  name: "Skills"
};
</script>
